* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.video {
  position: relative;
  padding-bottom: 56.25%;
}

.intro {
  max-height: 100vh;
  overflow: hidden;
  position: relative;

  background: url("cover.png") center no-repeat;
  background-size: cover;
}

.intro:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.intro_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.intro_title {
  margin: 0;
  font-size: 45px;
  color: #fff;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.video_media {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
